@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/themes/base/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/skin-coolblack.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryfrom")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/easyui/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui/jquery.easyui.plus.js"></script>
    <script src="~/Scripts/easyui/easyui-lang-zh-CN.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/MyScripts/common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>